import os

# to use current directory as base directory
_basedir = os.path.abspath(os.path.dirname(__file__))


#allows the execution of arbitrary code, must never be used on production machines
DEBUG = False

DATABASE = os.path.join(_basedir, 'trocr.db')
SECRET_KEY = 'replace by your own key'
#users lists, place here any number of {'username': 'password'} separated by comma
USERS = {'john': 'pass4john', 'demo': 'demo'}
ENTRY_BY_PAGE = 10
UPLOAD_FOLDER = os.path.join(_basedir, 'data')
#set the maximum upload file size to 16MB
MAX_CONTENT_LENGTH = 16 * 1024 * 1024
THUMBNAIL_FOLDER = os.path.join(_basedir, 'thumbnail')
#restrict or not uploaded file to allowed extensions
RESTRICT_EXTENSIONS = True
ALLOWED_EXTENSIONS = set(['txt', 'pdf', 'zip', 'rar', 'tar', 'tgz', 'gz', 'jpg', 'jpeg', 'gif', 'png', 'bmp', 'tiff', 'svg', 'avi', 'mp4','webm','ogg', 'wav','mp3','ogg','aac','mpeg'])
ALLOWED_THUMBNAIL_SIZE = set([600,150])
IMAGE_FORMATS = set(['jpg','jpeg','gif','png','bmp','tiff','svg'])
VIDEO_FORMATS = set(['mp4','webm','ogg'])
AUDIO_FORMATS = set(['wav','mp3','ogg','aac','mpeg'])
#before enabling mediaelement.js you need to install it, look at the README for more information
ENABLE_MEDIAELEMENT = False

del os
