body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; padding-bottom: 0em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries img	{ width:100%; height: auto;}
.entries li     { margin: 0.9em 1.2em; }
.entries li h2  { margin-left: -1em; }

.linklist		{ font-size: 0.8em; }

.entries .linkon{display:none; }
.entries:target .linkon {display:inline; }
.entries .linkoff{display:inline; }
.entries:target .linkoff {display:none; }

.textarea 		{ font-size: 0.6em; width:100%;  white-space:nowrap; }

.add-entry      { font-size: 0.9em; margin-bottom: 8px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.pageinfo        { font-size: 0.8em; padding: 0.3em; margin-top: 1em;
                  margin-bottom: 1em; background: #fafafa; 
              	 border-top:2px solid #eee; border-bottom: 2px solid #eee; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }

.footer        { text-align: center; font-size: 0.8em; padding: 0em;
                  margin-bottom: 0em; background: #fafafa; 
                  border-top: 2px solid #eee; }
.footer h3	   { margin-bottom: 0em;}