 
{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_entry') }}" class="add-entry">
    {% for entry in entries %}
    <ul id="infos_{{ entry.id }}" class=entries>
        <li><a id="id_{{ entry.id }}"><h2>{{ entry.title }}</h2></a></li>
        {% if entry.type == "image" %}
        <li><a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">
              <img src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" alt="{{ entry.filename }}" />
            </a>
        </li>
        {% elif entry.type == "video" %}
        <li><video width="320" height="240" controls>
          <source src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" type="{{ entry.mime }}">
          Your browser does not support the video tag.
        </video></li>
        {% elif entry.type == "audio" %}
        <li><audio controls>
          <source src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" type="{{ entry.mime }}">
          Your browser does not support the audio element.
        </audio></li>
        {% else %}
        <li><a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">Download</a></li>
        {% endif %}
        <li><p>{{ entry.descr|safe }}</p></li>
        <li class="linkoff"><a href="#infos_{{ entry.id }}" >&#x25B8; Infos</a><li>
        <li class="linkon">          
          <a href="#id_{{ entry.id }}">&#x25BE; Infos</a>
          <ul>
            <li>URL: <a href="{{ url_for('show_entries',_external=true,i=entry.id) }}">{{ url_for('show_entries',_external=true,i=entry.id) }}</a></li>
            <li>Download: <a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}</a></li>
            <li>Date: {{ entry.date }}</li>
            <li>Type: {{ entry.type }}</li>
            <li>Type: {{ entry.mime }}</li>
            <li>Size: {{ entry.size }}</li>
          </ul></li>
      </ul>
        <dt>Title:
        <dd><input type="text" name="title_{{ entry.id }}" size="20" value="{{ entry.title }}" />
        <dt>Description:
        <dd><textarea name="descr_{{ entry.id }}" rows=5 cols=40>{{ entry.descr|safe }}</textarea>
        <dd><input type=submit value="Update" /> (all modified entries of this page wille be updated)
        <dt>Mark for deletion <input type="checkbox" name="del_id" value="{{ entry.id }}" />
          <input type="hidden" value="{{ entry.id }}" name="entry_id" /><input type="hidden" value="{{ gallery_id }}" name="gallery_id" />
    {% else %}
    <ul class=entries>
      <li><em>Unbelievable.  No entries here so far</em>
    </ul>
    {% endfor %}
    </form>
    {% endif %}
{% endblock %}