<!doctype html>
<html>
<head>
<title>trocr</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
{% if config['ENABLE_MEDIAELEMENT'] %}
<script src="{{ url_for('static', filename='mediaelement/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='mediaelement/mediaelement-and-player.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mediaelement/mediaelementplayer.css') }}" />
{% endif %}
</head>
<body>
<div class=page>
  <h1><a href={{ url_for('show_entries') }}>trocr</a></h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
  <div class=footer>
  <h3><a href="https://github.com/cypx/trocr">Get trocr on Github</a></h3>
  </div>
</div>
{% if config['ENABLE_MEDIAELEMENT'] %}
<script>
// using jQuery
$('video,audio').mediaelementplayer({
  });
</script>
{% endif %}
</body>
</html>