 
{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_entry') }}" class="add-entry">
        <dt>File (you can select multiple file):
        <dd><input type="file" name="file" multiple="" size="20"/>
        <dt>Check, if you want to personnalize title and/or add comments for each file:<input type="checkbox" name="addinfo" />
        <dt><input type=submit value=Share>
    </form>
  {% endif %}
    {% for entry in entries %}
    <ul id="infos_{{ entry.id }}" class=entries>
        <li>
          <a id="id_{{ entry.id }}"><h2>{{ entry.title }}</h2></a> 
          {% if session.logged_in %}
           (<a href="{{ url_for('edit_entry',_external=true,i=entry.id)  }}">edit</a>
           or <a href="{{ url_for('edit_entry',_external=true,i=entry.gallery_id)  }}"> edit gallery</a>)
          {% endif %}
        </li>
        {% if entry.type == "image" %}
        <li><a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">
              <img src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" alt="{{ entry.filename }}" />
            </a>
        </li>
        {% elif entry.type == "video" %}
        <li><video width="320" height="240" controls>
          <source src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" type="{{ entry.mime }}">
          Your browser does not support the video tag.
        </video></li>
        {% elif entry.type == "audio" %}
        <li><audio controls>
          <source src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" type="{{ entry.mime }}">
          Your browser does not support the audio element.
        </audio></li>
        {% else %}
        <li><a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">Download</a></li>
        {% endif %}
        <li><p>{{ entry.descr|safe }}</p></li>
        <li class="linkoff"><a href="#infos_{{ entry.id }}" >&#x25B8; Infos</a><li>
        <li class="linkon">          
          <a href="#id_{{ entry.id }}">&#x25BE; Infos</a>
          <ul>
            <li>URL: <a href="{{ url_for('show_entries',_external=true,i=entry.id) }}">{{ url_for('show_entries',_external=true,i=entry.id) }}</a></li>
            <li>Download: <a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}</a></li>
            <li>Date: {{ entry.date }}</li>
            <li>Type: {{ entry.type }}</li>
            <li>Type: {{ entry.mime }}</li>
            <li>Size: {{ entry.size }}</li>
            <li>Gallery: <a href="{{ url_for('show_entries',_external=true,i=entry.gallery_id) }}">{{ url_for('show_entries',_external=true,i=entry.gallery_id) }}</a></li>
          </ul></li>
      </ul>
    {% else %}
    <ul class=entries>
      <li><em>Unbelievable.  No entries here so far</em>
    </ul>
    {% endfor %}
    <dt>
      {% if previouspage !=0 %}<a href="{{ url_for('show_entries',_external=true,p=previouspage) }}">Newer</a>{% endif %} 
      {% if nextpage !=0 %}<a href="{{ url_for('show_entries',_external=true,p=nextpage) }}">Older</a>{% endif %}


{% endblock %}