 
{% extends "layout.html" %}
{% block body %}
  {% if (session.logged_in) and (requested_id=="")  %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_entry') }}" class="add-entry">
        <dt>File (you can select multiple file, max size {{ max_upload_size }}MB):
        <dd><input type="file" name="file" multiple="" size="20"/>
        <dt><input type="checkbox" name="addinfo" /> Check, if you want to personnalize title and/or add comments for each file
        <dt><input type=submit value=Share><input type="hidden" value="{{ requested_gallery }}" name="requested_gallery" />
        {% if (requested_gallery!="")  %}
        <dt>Uploaded file will be added to the current gallery, upload from <a href={{ url_for('show_entries') }}>homepage</a></h1> if you want to create a new gallery
        {% endif %}
    </form>
  {% endif %}
  {% if entries_number > 1 %}
    <ul id="infos_page" class=entries>
        <li><a id="id_page"><h2>Page infos</h2></a></li>
        <span class="linkoff"><a href="#infos_page" >&#x25B8; Show</a></span>
        <span class="linkon"><a href="#id_page">&#x25BE; Hide</a>
            <p>Direct link:<br/> {% for entry in entries %}<a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" class="linklist">{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}</a><br/>{% endfor %}</p>
            <p>HTML - Display ink or image with link:<br/>
              <textarea cols="120" rows="{{ entries_number+1 }}" class="textarea" wrap='off' >{% for entry in entries -%}
                {#- -#}<a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">{#- -#}
                {%- if entry.type == "image" -%}
                  {#- -#}<img src='{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}' alt='{{ entry.title }}' />{#- -#}
                {%- else  -%}
                  {#- -#}Download file {{ entry.title }}{#- -#}
                {%- endif -%}
                {#- -#}</a>{%print "\r"%}{#- -#}
              {%- endfor %}</textarea></p>
            <p>HTML - Display link or 600px thumb with link:<br/>
              <textarea cols="120" rows="{{ entries_number+1 }}" class="textarea" wrap='off' >{% for entry in entries -%}
                {#- -#}<a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">{#- -#}
                {%- if entry.type == "image" -%}
                  {#- -#}<img src='{{ url_for('show_entries',_external=true) }}tb/600/{{ entry.filename }}' alt='{{ entry.title }}' />{#- -#}
                {%- else  -%}
                  {#- -#}Download file {{ entry.title }}{#- -#}
                {%- endif -%}
                {#- -#}</a>{%print "\r"%}{#- -#}
              {%- endfor %}</textarea></p>
            <p>HTML - Display link or 150px thumb with link:<br/>
              <textarea cols="120" rows="{{ entries_number+1 }}" class="textarea" wrap='off' >{% for entry in entries -%}
                {#- -#}<a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">{#- -#}
                {%- if entry.type == "image" -%}
                  {#- -#}<img src='{{ url_for('show_entries',_external=true) }}tb/150/{{ entry.filename }}' alt='{{ entry.title }}' />{#- -#}
                {%- else  -%}
                  {#- -#}Download file {{ entry.title }}{#- -#}
                {%- endif -%}
                {#- -#}</a>{%print "\r"%}{#- -#}
              {%- endfor %}</textarea></p>
            <p>BBCode - Display link or image with link:<br/>
              <textarea cols="120" rows="{{ entries_number+1 }}" class="textarea" wrap='off' >{% for entry in entries -%}
                {#- -#}[url={{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}]{#- -#}
                {%- if entry.type == "image" -%}
                  {#- -#}[img]{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}[/img]{#- -#}
                {%- else  -%}
                  {#- -#}Download file {{ entry.title }}{#- -#}
                {%- endif -%}
                {#- -#}[/url]{%print "\r"%}
              {%- endfor %}</textarea></p>
            <p>BBCode - Display link or 600px thumbs with link:<br/>
              <textarea cols="120" rows="{{ entries_number+1 }}" class="textarea" wrap='off' >{% for entry in entries -%}
                {#- -#}[url={{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}]{#- -#}
                {%- if entry.type == "image" -%}
                  {#- -#}[img]{{ url_for('show_entries',_external=true) }}tb/600/{{ entry.filename }}[/img]{#- -#}
                {%- else  -%}
                  {#- -#}Download file {{ entry.title }}{#- -#}
                {%- endif -%}
                {#- -#}[/url]{%print "\r"%}
              {%- endfor %}</textarea></p>
              <p>BBCode - Display link or 150px thumbs with link:<br/>
              <textarea cols="120" rows="{{ entries_number+1 }}" class="textarea" wrap='off' >{% for entry in entries -%}
                {#- -#}[url={{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}]{#- -#}
                {%- if entry.type == "image" -%}
                  {#- -#}[img]{{ url_for('show_entries',_external=true) }}tb/150/{{ entry.filename }}[/img]{#- -#}
                {%- else  -%}
                  {#- -#}Download file {{ entry.title }}{#- -#}
                {%- endif -%}
                {#- -#}[/url]{%print "\r"%}
              {%- endfor %}</textarea></p>
            </span>
    </ul>
    {% endif %}
    {% for entry in entries %}
    <ul id="infos_{{ entry.id }}" class=entries>
        <li>
          <a id="id_{{ entry.id }}"><h2>{{ entry.title }}</h2></a> 
          {% if session.logged_in %}
           (<a href="{{ url_for('edit_entry',_external=true,i=entry.id)  }}">edit</a>
           or <a href="{{ url_for('edit_entry',_external=true,g=entry.gallery_id)  }}"> edit gallery</a>)
          {% endif %}
        </li>
        {% if entry.type == "image" %}
        <li><a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">
              <img src="{{ url_for('show_entries',_external=true) }}tb/600/{{ entry.filename }}" alt="{{ entry.filename }}" />
            </a>
        </li>
        {% elif entry.type == "video" %}
        <li><video width="320" height="240" controls>
          <source src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" type="{{ entry.mime }}">
          Your browser does not support the video tag.<br>
          Download the file and save it for try to play with a dedicated software on your computer.<br>
          <a href="{{ url_for('show_entries',_external=true,i=entry.id) }}" class="linklist">{{ url_for('show_entries',_external=true,i=entry.id) }}</a><br/>
        </video></li>
        {% elif entry.type == "audio" %}
        <li><audio controls>
          <source src="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" type="{{ entry.mime }}">
          Your browser does not support the audio element.<br>
          Download the file and save it for try to play with a dedicated software on your computer.<br>
          <a href="{{ url_for('show_entries',_external=true,i=entry.id) }}" class="linklist">{{ url_for('show_entries',_external=true,i=entry.id) }}</a><br/>
        </audio></li>
        {% else %}
        <li><a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}">Download</a></li>
        {% endif %}
        <li><p>{{ entry.descr|safe }}</p></li>
        <li class="linkoff"><a href="#infos_{{ entry.id }}" >&#x25B8; Show infos</a><li>
        <li class="linkon">          
          <a href="#id_{{ entry.id }}">&#x25BE; Hide infos</a><br/><br/>
          URL: <a href="{{ url_for('show_entries',_external=true,i=entry.id) }}" class="linklist">{{ url_for('show_entries',_external=true,i=entry.id) }}</a><br/>
          Gallery: <a href="{{ url_for('show_entries',_external=true,g=entry.gallery_id) }}" class="linklist">{{ url_for('show_entries',_external=true,g=entry.gallery_id) }}</a><br/>
          Date: {{ entry.date }}<br/>
          Type: {{ entry.type }}<br/>
          Type: {{ entry.mime }}<br/>
          Size: {{ entry.size }}<br/>
          Direct link: <a href="{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}" class="linklist">{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}</a><br/>
          {% if entry.type == "image" %}
            HTML - Display link or image with link:<br/><input type="text" size="65" value="<a href='{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}''><img src='{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}' alt='{{ entry.title }}' /></a>" /><br/>
            HTML - Display link or 600px thumb with link:<br/><input type="text" size="65" value="<a href='{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}''><img src='{{ url_for('show_entries',_external=true) }}tb/600/{{ entry.filename }}'alt='{{ entry.title }}' /></a>" /><br/>
            HTML - Display link or 150px thumb with link:<br/><input type="text" size="65" value="<a href='{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}''><img src='{{ url_for('show_entries',_external=true) }}tb/150/{{ entry.filename }}'alt='{{ entry.title }}' /></a>" /><br/>
            BBCode - Display link or image with link:<br/><input type="text" size="65" value="[url={{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}][img]{{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}[/img][/url]" /><br/>
            BBCode - Display link or 600px thumbs with link:<br/><input type="text" size="65" value="[url={{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}][img]{{ url_for('show_entries',_external=true) }}tb/600/{{ entry.filename }}[/img][/url]" /><br/>
            BBCode - Display link or 150px thumbs with link:<br/><input type="text" size="65" value="[url={{ url_for('show_entries',_external=true) }}data/{{ entry.filename }}][img]{{ url_for('show_entries',_external=true) }}tb/150/{{ entry.filename }}[/img][/url]" /><br/>
          {% endif %}
          </li>
      </ul>
    {% else %}
    <ul class=entries>
      <li><em>Unbelievable.  No entries here so far</em>
    </ul>
    {% endfor %}
      {% if previouspage !=0 %}<a href="{{ url_for('show_entries',_external=true,p=previouspage,g=requested_gallery) }}">Previous page</a> {% endif -%} 
      {%- if nextpage !=0 %} <a href="{{ url_for('show_entries',_external=true,p=nextpage,g=requested_gallery) }}">Next page</a>{% endif %}
{% endblock %}